@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-Bold.eot');
    src: url('ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('ClearSans-Bold.woff2') format('woff2'),
        url('ClearSans-Bold.woff') format('woff'),
        url('ClearSans-Bold.ttf') format('truetype'),
        url('ClearSans-Bold.svg#ClearSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-Light.eot');
    src: url('ClearSans-Light.eot?#iefix') format('embedded-opentype'),
        url('ClearSans-Light.woff2') format('woff2'),
        url('ClearSans-Light.woff') format('woff'),
        url('ClearSans-Light.ttf') format('truetype'),
        url('ClearSans-Light.svg#ClearSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-Medium.eot');
    src: url('ClearSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('ClearSans-Medium.woff2') format('woff2'),
        url('ClearSans-Medium.woff') format('woff'),
        url('ClearSans-Medium.ttf') format('truetype'),
        url('ClearSans-Medium.svg#ClearSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-MediumItalic.eot');
    src: url('ClearSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('ClearSans-MediumItalic.woff2') format('woff2'),
        url('ClearSans-MediumItalic.woff') format('woff'),
        url('ClearSans-MediumItalic.ttf') format('truetype'),
        url('ClearSans-MediumItalic.svg#ClearSans-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-Thin.eot');
    src: url('ClearSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('ClearSans-Thin.woff2') format('woff2'),
        url('ClearSans-Thin.woff') format('woff'),
        url('ClearSans-Thin.ttf') format('truetype'),
        url('ClearSans-Thin.svg#ClearSans-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans.eot');
    src: url('ClearSans.eot?#iefix') format('embedded-opentype'),
        url('ClearSans.woff2') format('woff2'),
        url('ClearSans.woff') format('woff'),
        url('ClearSans.ttf') format('truetype'),
        url('ClearSans.svg#ClearSans') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

