.error-message span.error {margin-top: -12px;}
#myTabs .nav-link{
    color:#000;
}
#myTabs .nav-link.active,#myTabs .nav-link:hover{
    color: #195656;
    font-weight: 700;
}
select.with-arrow,select.with-arrow:focus {
    -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
  border-right:10px solid #fff;
}
.form-check.select-answer  {cursor: auto;}
.cursor-default {cursor: default;}